### Simple

```index.html

h2 > 'Todo'

:TodoCompo;

```
```todo.mask
div {
    
	span > :bind 
            expression='remaining()' 
			x-pipe-slot='todo.todoChanged';

	span > ' of ~[bind: todos.length] remaining '
	
	'[' a x-signal='click:archive' > 'archive' ']'

	ul {
		%% each='todos' > li {
			
			input type=checkbox > 
				:dualbind 	value='done'
							x-pipe-signal='todo.todoChanged';

			span.done-~[bind:done] > '~[text]'
		
		}
	}
	p {
		input 	type = text
				size = 30
				placeholder='add new todo here' > 
					:dualbind value='todoText';

		button.btn-primary
				x-signal='click: addTodo'
				
					> 'add';
	}

}

```javascript
var model = { text: "Hello, World!" };
mask.render(template, model);
```